/* Document
   ========================================================================== */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
 .container,.container-fluid,.strecth-width {
  margin-left: auto;
  margin-right: auto;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  width: 100%
}
 @media (min-width: 1200px) {
  .container,.container-fluid{
      --bs-gutter-x: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container,.container-fluid {
    --bs-gutter-x: 4rem;
  }
  .row {
      --bs-gutter-x:30px
  }
}

 @media (max-width: 768px){
  .container,.container-fluid {
      --bs-gutter-x: 2rem;
  }
  .row {
      --bs-gutter-x:15px
  }
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { 
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
