@media only screen and (max-width: 1200px) {
    div > section {
        padding-bottom: 50px;
    }
    
    .slide-subtitle {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: var(--font-weight-bold);
        margin-bottom: 20px;
        color: var(--background);
    }

    .slide-title {
        font-size: 38px;
        font-weight: var(--font-weight-bold);
        margin-bottom: 25px;
        color: var(--background);
    }

    .btn-banner {
        padding: 12px 40px;
        border-radius: 30px;
        font-size: var(--base-font-size);
    }

    .form-search {
        margin-top: 10px;
    }

    .header-bottom {
        border-top: none;
    }

    .col-middle-center {
        margin-top: 20px;
    }

    .overlay-active {
        overflow: hidden;
    }

    .overlay-active .nav-toggle:after {
        opacity: 1;
        pointer-events: auto;
    }

    .nav-toggle:after {
        content: "";
        display: block;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        background-color: var(--overlay-bg);
        transition: var(--bls-transition);
    }

    .mobile-menu {
        position: fixed;
        background: var(--background);
        top: 0;
        bottom: 0;
        right: auto;
        left: -120%;
        max-width: 85%;
        width: 40rem;
        z-index: 5;
        opacity: 1;;
        transition: var(--bls-transition);
    }
        
    .mobile-menu .close-button {
        transform: translateY(-10%);
        float: right;
    }
    
    .vertical-menu, .main-menu {
        padding: 0 3rem;
        width: 100%;
        z-index: -1;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu .container-fluid {
        padding: 0;
    }

    .mobile-menu .submenu-container{
        padding: 0 3rem;
    }

    .mobile-menu ul li.links a:hover{
        margin: 0;
    }

    .mobile-menu-content > ul > li {
        display: block;
        margin: 0;
        font-weight: var(--font-weight-bold);
    }

    .mobile-menu-content .menu-mobile-title {
        font-weight: var( --font-weight-bold);
        text-transform: uppercase;
        color: #fff;
        background-color: var(--color-banner-pro);
        padding: 1.5rem 0px;
        display: block;
    }

    .mobile-menu .menu-mobile-title a {
       color: var(--background);
       opacity: 0.6;
       padding: 20px;
    }

    .mobile-menu .menu-mobile-title a:focus {
        opacity: 1;
    }

    .mobile-menu li{
        display: block;
        padding: 1.5rem 0;
        position: relative;
    }

    .mobile-menu .levelmobile:not(:last-child) {
        border-bottom: 1px solid var(--border-color-base);
    }

    .mobile-menu .levelmobile > a{
        color: var(--title-fashion);
        cursor: pointer;
        margin: 0;
    }

    .mobile-menu .levelmobile.single > a span{
        margin-left: 10px;
    }

    .main-menu > li.menu-parent > a::after, .vertical-menu > li.menu-parent > a:after{
        content: '';
        position: absolute;
        width: 0.7rem;
        height: 0.7rem;
        top: 50%;
        right: 0;
        opacity: 1;
        border: solid currentColor;
        border-width: 0 0.1rem 0.1rem 0;
        transform: translateY(-50%) rotate(-45deg);
        -webkit-transform: translateY(-50%) rotate(-45deg); 
    }

    .menu-slide .verticalmenu-menu {
        width: 100%;
    }

    .menu-slide .verticalmenu-menu > li:not(:last-child){
        font-weight: var(--font-weight-bold);
        padding: 20px 0;
        border-bottom: 1px solid var(--border-color-base);
    }

    /*====== SubMenu======*/
    .mobile-menu-content > ul > li .submenu {
        left: -120%;
        top: 0;
        background-color: var(--background);
        padding: 0;
        position: fixed;
        opacity: 0;
        visibility: hidden;
        width: 40rem;
        height: 100%;
        transition: all 0.6s ease;
        transform: translate3d(-120%,0,0);
        z-index: 1111;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .mobile-menu-content > ul > li .submenu.active {
        left: 0;
        opacity: 1; 
        visibility: visible;
        transform: translate3d(0,0,0);
        z-index: 1111;
        pointer-events: auto;
    }

    .vertical-menu .dropdown-with-custom .submenu {
        width: 100%;
        overflow-y: auto;
    }

    .vertical-menu .submenu {
        display: none;
    }

    .default_dropdown ul.dropdown {
        padding: 0 3rem;
        width: 100%;
        font-weight: var(--base-font-weight);
    }
    
    .submenu .submenu-mobile-title {
        display: block;
        background-color: var(--light-grey-color);
        padding: 1.5rem 3rem;
        border-bottom: 1px solid var(--border-color-base);
        font-weight: var(--font-weight-bold);
        cursor: pointer;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 6666;
    }

    .submenu .submenu-mobile-title i {
        margin-right: 10px;
        color: #999;
    }

    .submenu .subchildmenu-title {
        display: block;
        padding: 1.5rem 0;
        font-weight: var(--font-weight-bold);
        margin-bottom: 0rem;
        border-bottom: 1px solid var(--border-color-base);
        position: sticky;
        top: 0;
        z-index: 2223;
    }

     .subchildmenu {
        left: -120%;
        top: 0;
        background-color: var(--background);
        position: fixed;
        opacity: 1;
        visibility: visible;
        width: 40rem;
        height: 100%;
    }

    .subchildmenu.active {
        left: 0;
        top: 0;
        background-color: var(--background);
        position: fixed;
        opacity: 1;
        visibility: visible;
        width: 40rem;
        height: 100%;
        z-index: 66666;
    }
     
    .mobile-menu-content > ul > li .submenu .subchildmenu > * + * {
        padding: 1.5rem 3rem;
        display: block;
    }
    .type_collection {
        padding: 1.5rem 0;
    }
    .submenu .subchildmenu-title > a:after{
        content: '';
        position: absolute;
        width: 0.7rem;
        height: 0.7rem;
        top: 50%;
        right: 0;
        opacity: 1;
        border: solid currentColor;
        border-width: 0 0.1rem 0.1rem 0;
        transform: translateY(-50%) rotate(-45deg);
        -webkit-transform: translateY(-50%) rotate(-45deg); 
    }
   
    .submenu .subchildmenu .menu-item {
        font-weight: var(--base-font-weight);
    }

    .submenu .subchildmenu .menu-item:not(:last-child){
        border-bottom: 1px solid var(--border-color-base);
    }
    
    .submenu .dropdown > li:not(:last-child){
        border-bottom: 1px solid var(--border-color-base);
    } 

    .submenu .type_home {
        width: 100%;
        display: block;
        padding: 1.5rem 0;
        margin: 0 3rem;
        box-shadow: none;
        margin: 0;
        border-radius: 0;
        border-bottom: 1px solid var(--border-color-base);
        position: relative;
    }

    .type_home .home-infor {
        padding: 0;
        font-weight: var(--base-font-weight);
    }

    .submenu .type_home .home-img{
        display: none;
    }
}
@media only screen and (min-width: 1200px) {
    .slide-position img{
        height: 475px;
    }
    header .col-left {
        width: 21%; 
    }
    header .col-center {
        width: 54%;
    }
    header .col-right {
        width: 25%;
    }
    .cart-count {
        left: 2.5rem;
    }
    .submenu .submenu-mobile-title {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    div > section {
        padding-bottom: 40px;
    } 

    .minicart-action .text-icons {
        display: none;
    }
    .slide-subtitle{
        display: none;
    }
    
    .slide-title{
        font-size: 3rem;
        font-weight: var(--font-weight-bold);
        margin-bottom: 20px;
        color: var(--background); 
    }

    .btn-banner {
        padding: 10px 35px;
        border-radius: 30px;
        font-size: var(--base-font-size);
    } 

    h3 {
        font-size: var(--heading-title-h4);
    }

    .banner-item .banner-text {
        line-height: 1.2;
    }

    .shipping .cols{
        padding: 10px;
    }

    .shipping .row > div:not(:last-child)::before { 
        content: '';
        display: none;
    }

    .hidden {
        display: none;
    }

    .footer-link h4.title-links span {
        float: right;
    }

    .footer-link h4.title-links span.toggleIcon1 {
        display: inline-block;
    }

    .col-item {
        border-bottom: 1px solid var(--border-digital);
    }

    .footer-bottom {
        padding: 10px 0;
        border-top: none;
    }

    footer {
        padding-bottom: 100px;
    }

    .mobile-stickybar {
        background-color: #fff;
        box-shadow: var(--box-shadow);
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        z-index: 3;
        min-height: 65px;
    }

    .mobile-stickybar ul li {
        display: flex;
    }

    .mobile-stickybar ul li a {
        display: flex;
        flex-direction: column;
        font-weight: var(--base-font-weight);
        align-items: center;
        color: var(--title-fashion);
        font-size: 1.3rem;
    }

    .mobile-stickybar ul li a span {
       margin-top: 5px;
    }

    .mobile-stickybar .h-count{
        min-width: 1.5rem;
        min-height: 1.5rem;
        top: -50%;
        font-size: 0.8rem;
        transform: translateY(50%);
    }
    .mobile-stickybar .cart-count {
        left: 1.8rem;
    }

    .mobile-stickybar .wishlist-count {
        left: 2.5rem;
    }
}

@media only screen and (max-width: 576px){
    div > section {
        padding-bottom: 3rem;
    }

    h2 {
        font-size: 2rem
    }

    .slide-button{
        display: none;
    }
    .slideshow .dots li{
        width: 8px;
        height: 8px;
        margin: 5px;
    }
    .banner-item p {
        font-size: 1.5rem; 
    }
    .banner-button a{
        font-size: var(--font-size-small);
    }
    .pro-price{
        font-size: var( --heading-title-h4);
    }
    .list-btn{
        display: none;
    }
}

