/* Root */
:root{
    --background-col: #fff;
    --grey-color: rgba(85,85,85);
    --heading-color:#ffffff;
    --header-color: #555;
    --bls-transition: all 0.4s;
    --title-fashion: rgba(17, 17, 17, 1);
    --background: rgba(255, 255, 255, 1);
    --key-digital: #0D53BB;
    --body-second: rgba(141, 151, 158, 1);
    --color-timer: #DD3327;
    --body-fashion: #555;
    --base-font-size: 14px;
    --base-font-weight: 500;
    --font-weight-bold: 600;
    --font-size-banner: 20px;
    --font-size-heading: 28px;
    --Bg-digital: #F1F3F7;
    --border-digital: #E5E8EC;
    --btn-primary-bg-hover: #253380;
    --bls-container-fluid-width: 1410px;
    --box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
    --border-color-base: #ebebeb
}
@font-face {
    font-family: "General Sans";
    src: url("../fonts/GeneralSans-Medium.otf") format("truetype");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "General Sans";
    src: url("../fonts/GeneralSans-Regular.otf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "General Sans";
    src: url("../fonts/GeneralSans-Semibold.otf") format("truetype");
    font-weight: 600;
  }

html,
body {
    box-sizing: border-box;
    margin: 0 auto;
	height: 100%;
	font-family: "General Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-family: "General Sans", sans-serif;
}

h2 {
	font-size: 28px;
    font-weight: var(--font-weight-bold);
}

h3 {
	font-size: 20px;
    font-weight: var(--font-weight-bold);
}

h4 {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
}

p {
    font-weight: 500;
	font-size: var(--base-font-size); 
	font-family: "General Sans", sans-serif;
	color: var(--body-fashion);
	line-height: normal;
    font-style: normal;
    margin: 0;
    line-height: 24px
}

img {
	max-width: 100%;
    vertical-align: middle;
}
svg {
    vertical-align: middle
}
input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}
a {
    text-decoration: none;
	outline: none;
    color: var(--title-fashion);
}
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
    color: var(--key-digital);
}

ul,
ol,li {
	padding: 0;
	margin: 0;
    list-style: none;
}
section > section{
    padding-bottom: 60px;
}
.container-fluid{
    max-width: calc(var(--bls-container-fluid-width) + var(--bs-gutter-x));
}
.col-items {
    padding: 0 10px;
}
.links-view-all{
    font-weight: var(--base-font-weight);
    font-size: var(--base-font-size);
    color: #999;
}
.btn-banner {
    padding: 15px 56px;
    border-radius: 30px;
    font-size: var(--base-font-size);
}
.tooltip {
    background: #111;
    color: #fff;
    line-height: 1;
    text-align: center;
    font-size: 14px;
    text-transform: none;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
    padding: 7px 10px;
    z-index: 2;
    transition: var(--bls-transition);
}
/* Header-Top*/
.header-top .slider-header-top {
    background-color: #253380;
    height: 40px;
}
.position-header-top {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width : max-content;
    transition: 1s;
}
.list-paragraph {
    text-align: center;
}

.list-paragraph .items {
    width: 100%;
    display: none;
}
.list-paragraph .items.active {
  display: block;
}
.list-paragraph p{
   font-size: 12px;
   color: var(--background);
}
.buttons-slider{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.buttons-slider div {
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    color: var(--background);
    font-weight: normal;
}
.close-button {
    top: 50%;
    right:0 ;
    margin-right: 10px;
    transform: translateY(-50%);
}
.btn-secondary{
    border: none;
    background: transparent;
    font-size: 14px;

}
/* Header-Center*/
.header-center{
    margin: 20px 0;
}
.icon-input{
    left: 30px;
    z-index:1;
}
.btn-search{
    height: 50px;
    width: min-content;
}
input[type="search"]{
    padding: 14px 20px 14px 50px;
    border: 2px solid var(--key-digital);
    border-radius: 30px 0 0 30px;
    font-size: 12px;
    text-align: start;
}
button[type="commit"]{
    padding: 14px 20px;
    border-radius: 0 30px 30px 0px;
    font-size: 14px;
    color: var(--background);
    border: none;
    background-color: #0D53BB;
}
.action-login{
    border:none;
    background-color: transparent;
    color: var(--title-fashion);
    font-weight: var(--base-font-weight);
}
.text-icons{
    font-size: 14px;
    margin-left: 15px;
    line-height: 1.1;
}
.text-icons-top{
    font-size: 11px;
    color: var(--header-color);
    opacity: 0.7;
}
.header-wishlist-wrap{  
    position: relative;
    margin: 0 15px;
}
.h-count{
    width: 18px;
    height: 18px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: var(--base-font-weight);
    position: absolute;
    top: -4px;
    left: 15px;
    background-color: var(--key-digital);
    color: var(--background);
}
/* Header-Bottom*/
.header-bottom{
    font-weight: var(--base-font-weight);
    padding: 10px 0;
    font-size: var(--base-font-size);
    border-top: 1px solid var(--border-digital);
    border-bottom: 1px solid var(--border-digital);
    position: relative;
}
.header-bottom .col-left{
    border-right: 1px solid var(--border-digital);
}
.menu-title{
    font-weight: var(--font-weight-bold);
    white-space: nowrap;
}
.text-menu{
    margin-left: 10px;
}
.main-menu{
    font-weight: var(--font-weight-bold);
    padding: 0 20px;
}
.menu-vertical-horizontal  li.menu-parent > a > span{
    float: left;
    padding-left: 5px;
}
.menu-vertical-horizontal  li.menu-parent > a > span:last-child {
    display: none;
}
.menu-vertical-horizontal > li{
   margin-left: 30px;
   white-space: nowrap;
}
.menu-parent .submenu{
    font-weight: var(--base-font-weight);
    top: 35px;
    background-color: var(--background);
    padding: 30px;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
}

.default_dropdown ul.dropdown{
    width: 200px;
}
.default_dropdown ul.dropdown li:not(:last-child){
   padding-bottom: 15px;
}
.menu-parent:hover .submenu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.menu-custom-width-center{
    left: 50%;
    transform: translateX(-50%);
}
/*=====Main=====*/
/* Slide-Menu */
.slider{
    padding: 30px 0;
    position: relative;
}
/*Slide*/
.slideshow{
    width: 100%;
}
.slide-container {
    overflow: hidden;
    position: relative;
  }
.slide-position{
    color: var(--background);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.slide-position .slide-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.slide-text p,
.slide-text h2,
.slide-text a {
    animation: fadeIn 6s infinite; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-subtitle{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    margin-bottom: 30px;
    color: var(--background);
}
.slide-title{
    font-size: 45px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 40px;
    color: var(--background);
}
.slide-button{
    background-color: var(--background);   
    color: var(--title-fashion);

}
.slide-button:hover{
    background-color: var(--key-digital);
    color: var(--background);
}
.slideshow .slide-list{
    width: max-content;
    display: flex;
    width: 100%;
}
.slideshow .dots{
    position: absolute;
    bottom: 10px;
    color: var(--background);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
.slideshow .dots li{
    width: 10px;
    height: 10px;
    background-color:  rgba(255, 255, 255, 0.2);
    margin: 10px;
    border-radius: 20px;
    transition: 1s;
}
.slideshow .dots li.active{
    background-color:  #fff;
}
.slide-items {
    flex: 0 0 100%; 
    overflow: hidden; 
}

.slide-position img {
    width: 100%; 
    display: block; 
    object-fit: cover;
}
/*Menu*/
.slider .vertical-menu{
   width: 22%;
}
.menu-width-custom .menu-custom-width-center{
    width: 1200px;
}
.menu-width-full-width .submenu{
    width: 100%;
}
.collection-infor{
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    display: block;
    bottom: 10px;
    left: 25%;
    transform: translateX(-5%);
}
.collection-infor a{
    color: var(--body-fashion);
    font-size: 16px;
}
.label{
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    margin-left: 5px;
    text-transform: uppercase;
    color: var(--background);
}
.label1{
    background-color: var(--color-timer);
}
.label2{
    background-color: var(--key-digital);
}
.submenu .type_home{
    width: 20%;
    margin-bottom: 20px;
}
.type_home .home-item{
    padding: 20px ;
    border-radius: 20px;
    background-color: var(--background);
    box-shadow: var(--box-shadow);
}
.type_home .home-item .home-img{
    border-radius: 10px;
}

.type_home .home-item .home-title{
    padding-top: 10px;
    font-weight: var(--font-weight-bold);
    color: var(--title-fashion);
}
.loadmore-menu{
    padding: 20px 0;
}
.loadmore-menu .demo{
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--key-digital);
    color: #FFF;
}
.menu-slide{
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
.menu-slide .verticalmenu-list > li:not(:last-child){
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid var(--border-digital);
}
.menu-slide .verticalmenu-list li a span{
    padding-left: 10px;
}
.menu-slide .dropdown-with-custom > a > span:last-child{ 
    float: right;
}
.menu-slide .other-link{
    padding-top: 10px;
}
.menu-slide .other-link a{ 
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-bold);
}

/*===== SubMenu ===*/
.verticalmenu-list .submenu {
    top: 0;
    transform: translateY(-20px);
    left: 110%;
    border-radius: 30px;
}
.subchildmenu-title{
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
}
.subchildmenu:not(:last-child){
    padding-bottom: 20px;
}
.submenu .subchildmenu .menu-item{
    padding-bottom: 15px;
}
.submenu-mobile-title{
    display: none;
}
.block-banner img{
    transition: var(--bls-transition);
    object-fit: cover;
}
.block-banner:hover img{
    transform: scale(1.1);
}
/* Product */
.pro-items-lists{
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}
.col-pro-items{
    color: var(--title-fashion);
    padding: 20px;
    border-radius: 15px;
    background-color: var(--background-col);
}
.name_brand {
    color: var(--grey-color);
    font-size: 16px;
    font-weight: var(--base-font-weight);
}
.pro-discount a{
    color: #fff;
    font-size: 12px;
    font-weight:var(--base-font-weight);
    padding: 8px 10px;
    background-color: #0D53BB;
    border-radius: 20px;
}
.pro-image {
    position: relative;
}
.pro-image .pro-discount{
    position: absolute;
    top: 0;
    left: 5px;
}
.pro-info{
    margin-top: 10px;
}
.pro-name{
    font-size: var(--base-font-size);
    margin: 5px 0;
}
.pro-price{
    font-weight: var(--base-font-weight);
    font-size: 18px;
    color: var(--title-fashion);
    margin: 5px 0;
}
.pro-price .pro-price-regular{
    color: var(--key-digital);
}
.pro-price .pro-price-new{
    color: rgb(108, 112, 114);
    font-size: var(--base-font-size);
    margin-left: 5px;
}
.overlay{
    top: 10px;
    transform: translateX(-10px);
    transition: opacity 0.4s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.tooltip-content-left{
    position: absolute;
    right: 30px;
    top: 10px;
    transform: translateX(-30px);
    z-index: 2;
}
.tooltip-content-left::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-top: -5px; 
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
}
.swiper-slide:hover .overlay{
    visibility: visible;
    opacity: 1;
}
.list-btn{
    top: 20px;
    right: 10px;
}
.btn-add{
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    box-shadow: var(--box-shadow);
    background-color: #FFF;
    margin-bottom: 5px;
    position: relative;
}
.btn-add:hover{
    background-color: var(--title-fashion);
    color: var(--background);
}
.btn-add:hover .tooltip-content-left{
    visibility: visible;
    opacity: 1;
 } 
.product-icon path {
    fill: var(--title-fashion); 
    transition: fill 0.3s; 
}
.btn-add:hover .product-icon path {
    fill: #ffffff; 
}

/* Selling*/
.top-selling-products .pro-banner{
    width: 40%;
    position: relative;
    margin-right: 20px;
    border-radius: 20px;
}
.pro-banner .banner-text{
    text-align: end;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-weight: var(--font-weight-bold);
}

.pro-banner .banner-text .bannner-subtitle{
    font-size: 12px;
    color: var(--color-timer);
    text-transform: uppercase;
}
.pro-banner .banner-text .banner-heading{
    font-weight: var(--base-font-weight);
    font-size: var(--base-font-weight);
    font-size: 32px;
    color: var(--title-fashion);
    margin: 15px 0;
}
.pro-banner .banner-text .button-hover{
    background-color: var(--key-digital);
    color: var(--background);
}
.pro-banner .banner-text .button-hover:hover {
    background-color: var(--btn-primary-bg-hover);
    color: var(--background);
}
/*Banner*/
.btn-link{
    font-size: var(--base-font-size);
    padding: 0 0 4px;
    background-color: transparent;
    font-weight: var(--btn-font-weight);
    color: var(--background);
    position: relative;
    align-items: center;
    text-decoration: none;
}
.btn-link::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--background);
    right: 0;
    bottom: 0;
    left: 0;
}
.btn-link:hover{
    color:#FFF;
}
.btn-link:hover::after{
    transition: var(--bls-transition);
    animation: 1s infinite btnLinkAnimation;
}
@keyframes btnLinkAnimation {
    0% {
        left: 0;
        width: 100%;
    }
    30% {
        left: 100%;
        width: 0;
    }
    60% {
        left: 0;
        width: 0;
    }
    100% {
        right: 0;
        width: 100%;
    }
}
.banner-item{
    position: relative;
    border-radius: 20px;
}
.banner-item p{
    line-height: 1.5;
    font-size: 20px;
    color: rgb(255,255,255,0.9);
    font-weight: 600;
    margin-bottom: 30px;
}
.banner-item .banner-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}
.banner-image img{
    transition: var(--bls-transition);
}
.banner-image{
    border-radius: 15px 15px 0 0;
}
.banner-image-2{
    border-radius: 15px;
}
.banner-item:hover img{
    transform: scale(1.1);
    border-radius: 15px;
}
/*===Collection===*/
.title-collection{
    font-size: 16px;
    font-weight: var(--font-weight-bold);
}
.collection-items{
    background-color: #FFF;
    padding: 30px;
    border-radius: 15px;
}

/*=== Deals & Promotion ====*/
.deals{
    border-bottom: 1px solid var(--border-digital);
}
.deals .banner-desc{
    padding: 25px 30px 30px 30px;
}
.banner-title{
    font-weight: var(--font-weight-bold);
    font-size: 16px;
}
.card-item{
    background-color: #FFF;
    border-radius: 15px;
    margin: 10px 0;
}
.card-item:hover img{
    transform: scale(1.1);
}
/* ===== Footer ===== */
/* Shipping*/
.shipping{  
    padding: 40px;
    font-weight: var(--base-font-weight);
    font-style: normal;
    color: var(--title-fashion);
}
.shipping .cols{
    padding: 0 30px;
    position: relative;
}
.shipping .col-shipping-items img{
   width: auto;
}
.shipping .row > div:not(:last-child)::before { 
    content: '';
    position: absolute;
    top: 50%;
    height: 60px;
    width: 1px;
    transform: translateY(-50%);
    border-right: 1px solid var(--border-digital);
    right: 0;
}
/* Footer-Link */
.footer-link{
    border-top: 1px solid var(--border-digital);
    padding-top: 60px;
    margin-bottom: 60px;
}
.footer-link div span{
    display: none;
}
ul.social-link li a{
    margin-right: 10px;
    position: relative;
}
ul.social-link a:hover .tooltip-content-bottom{
    opacity: 1;
    visibility: visible;
}
.tooltip-content-bottom{
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translateY(0) translateX(-50%);
    z-index: 2;
}
.tooltip-content-bottom::before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #333 transparent;
}
.newsletter-form{
    font-size: var(--base-font-size);
    color: var(--body-fashion);
}
.newsletter-form .btn{
    height: 50px;
    border-radius: 50px;
}
.newsletter-form input[type="email"]{
    text-align: left;
    margin-right: 10px;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid var(--border-digital);
    font-weight: var(--base-font-weight);
}
.newsletter-form button[type="submit"]{
    font-weight: var(--base-font-weight);
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    background: var(--key-digital);
    color : var(--background);
}
.newsletter-form button[type="submit"]:hover{
    background: var(--btn-primary-bg-hover);
}


/* Link*/
ul li.links a{
    transition: var(--bls-transition);
    color: var(--body-fashion);
    text-decoration: none;
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
    white-space: nowrap;
}
ul li.links a:hover{
   color: #111;
   margin-left: 8px;
}

/* Footer-Bottom */
.footer-bottom{
    padding: 35px 0;
    font-size: var(--base-font-size);
    color: var(--body-fashion);
    border-top: 1px solid var(--Bg-digital);
}
.border-top{
    color: var(--Bg-digital);
}
.footer-bottom button p{
    font-size: var(--base-font-size);
    color: var(--body-fashion);
    margin-right: 15px;
    font-weight: var(--base-font-weight);
    padding: 0;
}
.footer-bottom img{
    margin: 0 5px;
}
.btn:focus{
    box-shadow: none;
}
.footer-bottom button{
    font-size: 14px;
    font-weight: 500;
    color: var(--body-fashion);
}
/* Dropdown Menu */
.language .dropdown-menu{
    top: -240px;
}
.currency .dropdown-menu{
    top: -120px;
}
#btn-language:checked ~ .dropdown-menu{
    display: block;
}
#btn-currency:checked ~ .dropdown-menu{
    display: block;
}
.btn{
    margin-right: 10px;
    font-weight: 500;
}
.dropdown-menu{
    display: none;
    background: white;
    width: 150px;
    padding: 15px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    z-index: 1;
    transition: var(--bls-transition);
}
.dropdown-menu li{
    padding: 12px 0;
}
.dropdown-menu li .dropdown-item{
    transition: var(--bls-transition);
}
.dropdown-menu li .dropdown-item:hover{
   margin-left: 5px;
   background-color: transparent;
   color: #111;
}
.dropdown-item {
    margin-bottom: 10px;
    font-size: var(--base-font-size);
    color: var(--body-fashion);
    font-weight: var(--base-font-weight);
}

.aspect-ratio-container {
    width: 100%;
}

.aspect-ratio-container::before {
    content: "";
    display: block;
    padding-top: calc(1 / var(--aspect-ratio) * 100%);
}

.aspect-ratio-container img {
    border-radius: 15px;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}




